@import url('https://cdn.syncfusion.com/ej2/material.css');


/* div{
    max-width: 300px;
} */

#parent {
    display: flex;
    max-width: 300px;
}

#EqID {
    /* flex: 1; */
    display: inline-table;
    width:250px;
    background-color: blue;
    max-width: 300px;
}

#PID {
    width:250px;
    display: inline-table;
    background-color: orange;
    max-width: 300px;
}

#RC {
    width:250px;
    display: inline-table;
    background-color: yellow;
    max-width: 300px;
}

#chart{
    width:1400px;
    height:1550px;
}